<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!--[if mso]><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml><![endif]-->
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    body {
      background-color: #F8F9FC;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
      font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;
    }
    .mb-1 {
      margin-bottom: 0.5rem;
    }
    .mb-2 {
      margin-bottom: 1rem;
    }
    .mb-3 {
      margin-bottom: 1.5rem;
    }
    .mb-4 {
      margin-bottom: 2rem;
    }
    .mb-5 {
      margin-bottom: 2.5rem;
    }

    .primary-label {
      color: #050f24 !important;
    }
    .secondary-label {
      color: #828792 !important;
    }

    .weight-1 {
      font-weight: 500;
    }
    .weight-2 {
      font-weight: 600;
    }
    .weight-3 {
      font-weight: 700;
    }

    .size-1 {
      font-size: 0.75rem;
    } /* 12px */
    .size-2 {
      font-size: 1.125rem;
    } /* 18px */
    .size-3 {
      font-size: 1.375rem;
    } /* 22px */

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: inherit !important;
    }
    #MainContainer {
      max-width: 600px;
      margin: 0 auto;
      font-size: 0.875rem; /* 14px */
      text-align: center;
      padding-top: 2.5rem;
      padding-bottom: 1.5rem;
    }
    .message-container {
      background-color: white;
      padding-top: 1.438rem;
      text-align: center;
      padding-bottom: 1.5rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
    }
    .message {
      width: 60%;
      text-align: center;
      margin: 0 auto;
      line-height: 24px;
    }
    .confirm-btn {
      text-decoration: none;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 22px;
      color: #FFFFFF;
      background: #1B2D93;
      border-radius: 8px;
      padding: 0.813rem 4rem;
      display: inline-block;
      margin-top: 1.563rem;
    }
    .link {
      line-height: 22px;
      color: #0059B2;
      font-weight: 600;
      margin-bottom: 0.25rem;
      text-decoration: none;
      display: inline-block;
    }

    @media (max-width:640px) {
      .message-container {
        width: 90%;
        margin: 0 auto;
      }
      .message {
        width: 90%;
      }
      .confirm-btn {
        max-width: 80%;
        padding: 0.813rem 2.5rem;
      }
    }
  </style>
</head>

<body>
  <div id="MainContainer">
    <div style="margin-bottom: 3.48rem;">
      <img src="/assets/icons/logo_black.png" alt="logo-icon" width="170px" height="40px" />
    </div>
    <div class="mb-2">
      <img src="/assets/icons/insure.png" alt="insure-icon" width="48px" height="47.89px" />
    </div>
    <h2 class="weight-3 size-3 mb-1 primary-label">Insurance</h2>
     <p class="primary-label mb-4">by betterplace</p>
     <h2 class="weight-1 size3 primary-label mb-2">
       <%= title %>
     </h2>

     <div class="message-container">
        <h3 class="primary-label weight-2 size-2 mb-1">Dear User,</h3>
        <p class="secondary-label size-2 weight-1 message">
          <%= message %>
        </p>
        <a href="<%= url %>" class="confirm-btn" role="button" target="_blank">
          <%= label %>
        </a>
     </div>

     <div class="mb-2">
       <img src="/assets/icons/logo_grey.png" alt="logo-icon" width="169.67px" height="40px" />
     </div>

     <p style="color: #797B7D; line-height: 22px;" class="mb-2">
      over 700+ companies are hiring, managing and engaging their 7.5M+ blue collar employees
      with betterplace all-in-one lifecycle platform
     </p>

    <a href="https://www.betterplace.co.in/" role="button" target="_blank" class="link">
      betterplace.co.in
    </a>

    <div class="mb-2">
      enabling the next billion with access to a better life
    </div>

    <div class="secondary-label">
      This is an auto-generated email. Please do not reply to this email.
    </div>
  </div>
</body>


</html>
