<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
  <title></title>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!--[if mso]><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml><![endif]-->
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
    }

    th.column {
      padding: 0
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: inherit !important;
    }

    #MessageViewBody a {
      color: inherit;
      text-decoration: none;
    }

    p {
      line-height: inherit
    }

    @media (max-width:520px) {
      .icons-inner {
        text-align: center;
      }

      .icons-inner td {
        margin: 0 auto;
      }

      .row-content {
        width: 100% !important;
      }

      .stack .column {
        width: 100%;
        display: block;
      }
    }
  </style>
</head>

<body style="background-color: #FFFFFF; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;">
  <table border="0" cellpadding="0" cellspacing="0" class="nl-container" role="presentation"
    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #F8F9FC; padding: 20px;" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-1" role="presentation"
            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
            <tbody>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
                    role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000;"
                    width="650">
                    <tbody>
                      <tr>
                        <th class="column"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                          width="100%">
                          <table border="0" cellpadding="0" cellspacing="0" class="image_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
                            <tr>
                              <td style="width:100%;padding-bottom:40px;padding-right:0px;padding-left:0px;">
                                <div align="center" style="line-height:10px"><img src="<%= assetsBaseURL %>/common/images/company-logo.png"
                                    style="display: block; height: auto; border: 0; width: 170px; max-width: 100%;"
                                    width="170" /></div>
                              </td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" class="image_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
                            <tr>
                              <td style="width:100%;padding-right:0px;padding-left:0px;">
                                <div align="center" style="line-height:10px"><img src="<%= assetsBaseURL %>/payroll/images/payslip-icon.png"
                                    style="display: block; height: auto; border: 0; width: 48px; max-width: 100%;"
                                    width="48" /></div>
                              </td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                            <tr>
                              <td>
                                <div>
                                  <div
                                    style="font-size: 22px; mso-line-height-alt: 16.8px; color: #050F24; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                    <p style="margin: 0; font-size: 22px; text-align: center;"><span
                                        style="color:#050F24;font-size:22px;"><strong>Payroll</strong></span></p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                            <tr>
                              <td>
                                <div>
                                  <div
                                    style="font-size: 14px; mso-line-height-alt: 16.8px; color: #050F24; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                    <p style="margin: 0; font-size: 14px; text-align: center;"><span
                                        style="font-size:14px;">by betterplace</span></p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                            <tr>
                              <td>
                                <div>
                                  <div
                                    style="font-size: 22px; mso-line-height-alt: 16.8px; color: #050F24; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                    <p style="margin: 0; font-size: 22px; text-align: center;">Payslip has been released
                                    </p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-2" role="presentation"
            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
            <tbody>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
                    role="presentation"
                    style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; border-radius: 8px; color: #000000;"
                    width="650">
                    <tbody>
                      <tr>
                        <th class="column"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                          width="100%">
                          <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                            <tr>
                              <td>
                                <div>
                                  <div
                                    style="font-size: 18px; mso-line-height-alt: 16.8px; color: #050F24; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                    <p style="margin: 0; font-size: 18px; text-align: center;"><span
                                       style="color:#050F24;"><strong>Dear <%= fullName %>,</strong></span></p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                          <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                            style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                            <tr>
                              <td>
                                <div>
                                  <div
                                    style="font-size: 18px; mso-line-height-alt: 16.8px; color: #050F24; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                    <p style="margin-top: 0; font-size: 18px; text-align: center;">Your payslip for <strong><%= payrollCycle %></strong> has been released.</p>
                                    <p style="margin: 0; font-size: 18px; line-height: 24px; text-align: center;">Your Gross Salary earned for <strong><%= payrollCycle %></strong> is <strong><%= totalEarning %></strong> and Net Salary after various statutory &amp; other deductions is <strong><%= totalPayout %></strong>. Please find attached the payslip with the salary details.</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-2" role="presentation"
          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
          <tbody>
            <tr>
              <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
                  role="presentation"
                  style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; margin-top: 16px; margin-bottom: 16px;"
                  width="650">
                  <tbody>
                    <tr>
                      <th class="column"
                        style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-right: 20px; padding-left: 20px; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;"
                        width="100%">
                        <table border="0" cellpadding="0" cellspacing="0" class="image_block" role="presentation"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; margin-top: 16px; margin-bottom: 16px;" width="100%">
                          <tr>
                            <td style="width:100%;padding-right:0px;padding-left:0px;">
                              <div align="center" style="line-height:10px"><img src="<%= assetsBaseURL %>/common/images/company-logo-secondary.png"
                                  style="display: block; height: auto; border: 0; width: 170px; max-width: 100%;"
                                  width="170" /></div>
                            </td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="5" cellspacing="0" class="text_block" role="presentation"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                          <tr>
                            <td>
                              <div>
                                <div
                                  style="font-size: 14px; mso-line-height-alt: 16.8px; color: #797B7D; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                  <p style="margin: 0; font-size: 14px; text-align: center;"><span
                                      style="font-size:14px;">over 700+ companies are hiring, managing and engaging
                                      their 7.5M+ blue collar employees</span></p>
                                  <p style="margin: 0; font-size: 14px; text-align: center;"><span
                                      style="font-size:14px;">with betterplace all-in-one lifecycle platform</span>
                                  </p>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                          <tr>
                            <td>
                              <div>
                                <div
                                  style="font-size: 14px; mso-line-height-alt: 16.8px; color: #0059B2; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                  <p style="margin: 0; font-size: 14px; text-align: center;"><strong><span
                                        style="color:#0059B2;font-size:14px;">betterplace.co.in</span></strong></p>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="10" cellspacing="0" class="text_block" role="presentation"
                          style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
                          <tr>
                            <td>
                              <div>
                                <div
                                  style="font-size: 14px; mso-line-height-alt: 16.8px; color: #000000; line-height: 1.2; font-family: Inter, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                  <p style="margin: 0; font-size: 14px; text-align: center;"><span
                                      style="font-size:14px;">enabling the next billion with access to a better
                                      life</span></p>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        </td>
      </tr>
    </tbody>
  </table><!-- End -->
</body>

</html>
